.jumbotron {
  font-family: 'Times New Roman', Times, serif;
  color: wheat;
  background-color: rgb(211, 16, 16);
  margin-bottom: -100px;
  text-align: center;
}

body {
  background-color: rgb(211, 16, 16);
}

#logo {
  display: block;
  text-align: center;
  margin: auto;
}

.jumbotron img {
  width: 50%;
}


#results {
  text-align: center;
  padding: 25px;
  display: none;
  color: wheat;
}

.panel {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.panel p {
  padding: 15px;
  margin: 15px;
}

.radio {
  margin-left: 20px;
}

.button {
  display: block;
  text-align: center;
  margin: 40px;
}

#buttonfont {
  font-size: 40px;
}

.panelbody h2 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 40px;
}

.panelbody2 {
  text-align: center;
}

#python {
  display: none;
}

#ruby {
  display: none;
}

#c {
  display: none;
}

#java {
  display: none;
}

