.jumbotron {
  font-family: 'Times New Roman', Times, serif;
  color: wheat;
  background-color: rgb(211, 16, 16);
  margin-bottom: -40px;
  text-align: center;
}

body {
  background-color: rgb(211, 16, 16);
}

#results {
  text-align: center;
  padding: 50px;
}

#results h1 {
color: wheat;
text-align: center;
}

.panel {
  width: 80%;
  margin: auto;;
}

.panel p {
  padding: 15px;
  margin: 15px;
}

.radio {
  margin-left: 20px;
}

.button {
  display: block;
  text-align: center;
  margin: 40px;
}

#logo {
  display: block;
  text-align: center;
  margin: auto;
}

.jumbotron img {
  width: 50%;
}

#buttonfont {
  font-size: 40px;
}

#results {
  display: none;
}

#python {
  display: none;
}

#ruby {
  display: none;
}

#c {
  display: none;
}
